// variables/mixins to be used site-wide

$bg-color: #F5F5F5
$sidebar-color: #F5F5F5
$subsection-color: #F5F5F5
$featured-color: #3892E3
$image-color: #FFFFFF

// font colors
$title-color: #3892E3

//app height and width
$window-height: 720px
$window-width: 960px

// font sizes
$base-size: 24px
$small-font: 1.125em
$medium-font: 1.5em
$large-font: 2.25em

// margins
$outer-margin: 1.125em
$inner-margin: 14px