//variables/mixins to be used site-wide

$bg-color: #18408B
$featured-background-color: #FFFFFF
$up-next-background-color: #FFFFFF
$queue-background-color: #1e1d1c
$small-panel-background-color: #FFFFFF