//sass styling for the panels for individual campaigns
body
  margin: 0
  background-color: $bg-color
  font-family: "din-web"

#wrapper
  position: absolute
  top: 50%
  left: 50%
  width: 960px
  height: 710px
  margin: -355px 0 0 -480px

//this is helpful for making the content of this div appear to have padding
.with-margin
  margin: 20px

.left
  float: left

.right
  float: right

// DoSomething.org logo
#ds-logo
  margin-left: -5px
  margin-bottom: 10px

  img
    width: 275px

// featured panel
#featured
  width: 641px
  height: 500px
  margin: 5px
  background-color: $featured-background-color

  .logo
    width: 100%
    text-align: center
    min-height: 250px
    overflow: hidden

    img
      max-width: 100%
      max-height: 250px

  .info
    width: 100%

    .title
      font-size: 38pt

    .days-remaining
      font-size: 22pt
      margin-top: 14px

  #teaser
    width: 500px
    height: 75px
    margin: auto
  
    .big-teaser
      font-size: 16pt
      display: inline-block
      text-align: justify

  .board-container
    width: 390px
    margin: 0 auto

    .board-label
      display: inline-block
      margin-top: 5px
      margin-right: 10px
      font-size: 18pt

// up next panel
#up-next
  width: 299px
  height: 266px
  margin: 5px
  background-color: $up-next-background-color
  text-align: center
  position: relative

  .logo
    width: 100%
    
    img
      width: 100%
      margin: 0 auto
      display: block
      margin-bottom: 5px
      max-height: 130px

  .info
    width: 100%

    .title
      font-size: 20pt
      display: block

    .days-remaining
      display: block
      margin-top: 0px
      margin-bottom: 5px
      font-size: 14pt
      line-height: 25px

  .board-container
    width: 220px
    margin: 0 auto
    margin-bottom: 10px

    .board-label
      display: inline-block
      margin-top: 1px
      margin-right: 10px
      font-size: 10pt

.small-panel
  //display: none
  background-color: $small-panel-background-color
  text-align: center
  width: 230px
  margin: 5px
  height: 180px
  position: relative
  line-height: 20px

  img
    width: 50%
    margin: 0 auto
    display: block

  .small-teaser
    display: inline-block
    text-align: justify

  .small-days-remaining
    display: inline-block
    width: 100%
    position: absolute
    bottom: 0px
    left: 0px
    font-weight: bold

  .with-margin
    display: none