//sass styling for the panels for individual campaigns
body
  margin: 0
  background-color: $bg-color
  font-family: "din-web"

#wrapper
  position: absolute
  top: 50%
  left: 50%
  width: 960px
  height: 720px
  margin: -360px 0 0 -480px

//this is helpful for making the content of this div appear to have padding
.with-margin
  margin: 20px

.left
  float: left

.right
  float: right

.small-font
  font-size: $small-font

.medium-font
  font-size: $medium-font

.large-font
  font-size: $large-font

.regular
  font-family: "din-web-regular"

.condensed
  font-family: "din-web"

.bold
  font-weight: bold

// featured panel
#featured
  width: 710px
  height: 720px
  background-color: $featured-color

  .logo
    width: 216px
    text-align: center
    height: 108px
    overflow: hidden
    background-color: $image-color

    img
      width: 100%
      max-width: 100%
      max-height: 108px

  .info
    width: 100%

    .title
      font-size: 38pt

    .days-remaining
      font-size: 22pt
      margin-top: 14px

  #teaser
    width: 500px
    height: 75px
    margin: auto
  
    .big-teaser
      font-size: 16pt
      display: inline-block
      text-align: justify

  .board-container
    width: 700px
    margin: 0 auto
    background-color: green

#sidebar
  float: right
  width: 250px
  height: 720px
  overflow: hidden
  background-color: #F5F5F5
  text-align: center

  // DoSomething.org logo
  #ds-logo
    margin: 20px auto 20px auto
    height: 140px
    width: 176px

    img
      width: 100%

  hr
    width: 85%
    margin: 0 auto 10px auto
    border: solid #979797 1px

  .small-panel
    text-align: center
    position: relative
    margin-bottom: 10px
    font-size: $small-font