/* line 2, ../sass/_panels.sass */
body {
  margin: 0;
  background-color: #18408b;
}

/* line 5, ../sass/_panels.sass */
#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1120px;
  height: 710px;
  margin: -355px 0 0 -560px;
}

/* line 14, ../sass/_panels.sass */
.with-margin {
  margin: 10px;
}

/* line 17, ../sass/_panels.sass */
.left {
  float: left;
}

/* line 20, ../sass/_panels.sass */
.right {
  float: right;
}

/* line 23, ../sass/_panels.sass */
#featured {
  width: 801px;
  height: 350px;
  margin: 5px;
  background-color: white;
}

/* line 30, ../sass/_panels.sass */
#featured-logo {
  width: 50%;
}
/* line 33, ../sass/_panels.sass */
#featured-logo img {
  width: 100%;
}

/* line 36, ../sass/_panels.sass */
#featured-info {
  width: 50%;
}
/* line 39, ../sass/_panels.sass */
#featured-info span {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 42pt;
}
/* line 45, ../sass/_panels.sass */
#featured-info p {
  margin-top: 0.5em;
  text-align: center;
  font-size: 24pt;
}

/* line 50, ../sass/_panels.sass */
#ds-logo {
  margin-left: -5px;
  margin-bottom: 10px;
}
/* line 54, ../sass/_panels.sass */
#ds-logo img {
  width: 275px;
}

/* line 57, ../sass/_panels.sass */
#up-next {
  width: 299px;
  height: 470px;
  margin: 5px;
  background-color: white;
}
/* line 63, ../sass/_panels.sass */
#up-next img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* line 68, ../sass/_panels.sass */
#queue {
  width: 801px;
  height: 340px;
  margin: 5px;
  background-color: #1e1d1c;
}

/* line 74, ../sass/_panels.sass */
.small-panel {
  background-color: white;
  text-align: center;
}

/* line 79, ../sass/_panels.sass */
.top-row, .bottom-row {
  float: left;
  width: 257px;
  margin: 5px;
  height: 160px;
}
/* line 85, ../sass/_panels.sass */
.top-row img, .bottom-row img {
  width: 50%;
  margin: 0 auto;
  display: block;
}
