/* line 2, ../sass/_panels.sass */
body {
  margin: 0;
  background-color: #18408b;
}

/* line 5, ../sass/_panels.sass */
#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1020px;
  height: 710px;
  margin: -355px 0 0 -510px;
}

/* line 14, ../sass/_panels.sass */
.with-margin {
  margin: 20px;
}

/* line 17, ../sass/_panels.sass */
.left {
  float: left;
}

/* line 20, ../sass/_panels.sass */
.right {
  float: right;
}

/* line 23, ../sass/_panels.sass */
#featured {
  width: 701px;
  height: 500px;
  margin: 5px;
  background-color: white;
}

/* line 29, ../sass/_panels.sass */
#featured-logo {
  width: 100%;
  text-align: center;
}
/* line 33, ../sass/_panels.sass */
#featured-logo img {
  width: 100%;
}

/* line 36, ../sass/_panels.sass */
#featured-info {
  width: 100%;
}
/* line 39, ../sass/_panels.sass */
#featured-info .title {
  font-size: 42pt;
}
/* line 42, ../sass/_panels.sass */
#featured-info .days-remaining {
  font-size: 22pt;
  margin-top: 14px;
}

/* line 46, ../sass/_panels.sass */
#board-container {
  width: 570px;
  margin: 0 auto;
}

/* line 50, ../sass/_panels.sass */
#flightboard-label {
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 18pt;
}

/* line 56, ../sass/_panels.sass */
#ds-logo {
  margin-left: -5px;
  margin-bottom: 10px;
}
/* line 60, ../sass/_panels.sass */
#ds-logo img {
  width: 275px;
}

/* line 63, ../sass/_panels.sass */
#up-next {
  width: 299px;
  height: 470px;
  margin: 5px;
  background-color: white;
}
/* line 69, ../sass/_panels.sass */
#up-next img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* line 74, ../sass/_panels.sass */
#queue {
  width: 701px;
  height: 190px;
  margin: 5px;
  background-color: #1e1d1c;
}

/* line 80, ../sass/_panels.sass */
.small-panel {
  background-color: white;
  text-align: center;
  float: left;
  width: 223px;
  margin: 5px;
  height: 180px;
}
/* line 88, ../sass/_panels.sass */
.small-panel img {
  width: 50%;
  margin: 0 auto;
  display: block;
}
