<!DOCTYPE html> 
<html>
<head>
  <title>locust swarm</title>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/locust.css">
	<script type="text/javascript" src="/public/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/public/javascripts/client.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="featured">
      <div class="with-margin">
        <img src="/public/swarm.jpg" />
      </div>
    </div>
    <div id="up-next">
      <div class="with-margin">
        <img src="/public/swarm.jpg" />
      </div>
    </div>
    <div id="queue">
      <div class="small-panel top-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
      <div class="small-panel top-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
      <div class="small-panel top-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
      <div class="small-panel bottom-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
      <div class="small-panel bottom-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
      <div class="small-panel bottom-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
    </div>
  </div>
</body>
</html>