<!DOCTYPE html> 
<html>
<head>
  <title>locust swarm</title>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/locust.css">
	<script type="text/javascript" src="/public/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/public/javascripts/client.js"></script>
	<script type="text/javascript" src="/public/javascripts/date.js"></script>
	<script type="text/javascript" src="/public/javascripts/date-utils.min.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="featured" class="right">
      <div class="with-margin">
        <div id="featured-logo" class="right">
          <img src="/public/swarm.jpg" />
        </div>
        <div id="featured-info" class="right">
          <span>Campaign #1</span>
          <p>5 days remaining</p>
        </div>
        <div style="clear:both"></div>
        <div id="featured-flip">
          airplane flipboard
        </div>
      </div>
    </div>
    <div id="ds-logo">
      <img src="/public/ds-logo.png"/>
    </div>
    <div id="up-next" class="left">
      <div class="with-margin">
        <img src="/public/swarm.jpg" />
      </div>
    </div>
    <div id="queue" class="right">
      <div class="small-panel top-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
      <div class="small-panel top-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
      <div class="small-panel top-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
      <div class="small-panel bottom-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
      <div class="small-panel bottom-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
      <div class="small-panel bottom-row">
        <div class="with-margin">
          <h3>Campaign #3</h3>
          5 days remaining
        </div>
      </div>
    </div>
  </div>
</body>
</html>