<!DOCTYPE html> 
<html>
<head>
  <title>locust pi</title>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/locust.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/tick.css">
	<script type="text/javascript" src="/public/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/jquery.ui.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/public/javascripts/date.js"></script>
	<script type="text/javascript" src="/public/javascripts/date-utils.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/tick.js"></script>
  <script type="text/javascript" src="/public/javascripts/client.js"></script>
  <link rel="stylesheet" href="https://c308566.ssl.cf1.rackcdn.com/din-51.css" media="all" />
</head>
<body>
  <div id="wrapper">
    <div id="sidebar" class="left">
      <div id="ds-logo">
        <img src="/public/ds-logo.png"/>
      </div>
      <span class="condensed bold small-font">Current Campaigns</span>
      <hr/>
    </div>

    <div id="featured" class="right">

      <div class="with-margin">
        <div class="info">
          <div class="logo left">
            <img src="/public/swarm.jpg" />
          </div>
          <span class="title large-font regular bold">Campaign #1</span>
          <br/>
          <span class="days-remaining bold small-font">X days remaining</span>
        </div>
        <div style="clear:both"></div>
        <div class="campaign">
          <span class="title small-font bold">The Campaign</span>
          <br/>
          <span class="teaser medium-font">Teaser! Don't tease me bro! Teaser! Don't tease me bro! Teaser! Don't tease me bro! Teaser! Don't tease me bro! Teaser! Don't tease me bro!</span>
        </div>
        <div class="data-display">
          <span class="title small-font bold">The Numbers</span>
          <div class="numbers">
            <span class="label small-font bold">Total Campaign Signups</span>
            <div style="clear:both"></div>
            <div id="tick-holder">
              <p class="tick tick-flip"></p>
              <div style="clear:both"></div>  
            </div>
            <div style="clear:both"></div>  
          </div>  
          <div style="clear:both"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>